.row.full-width {
    width: 100%;
    max-width: 100%;
}

.sidebar{
    background-color: #E9E9E7;
    height: 95vh;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.graphHolder{
    height: 95vh
}
.nodeGraphHolder{
    height: 45vh
}

.details{
    background-color: #f2f2f2;
    height: 25vh;
    padding: 30px;
}

#notifications .alert-box {
    margin-bottom: 0;
}

#chart_div {
    height: 70vh;
}

.refreshB{
    font-size: 0.95rem;
}

.icon-refresh-animate {
    -webkit-animation: rotate 1s linear infinite;
    -moz-animation: rotate 1s linear infinite;
    -ms-animation: rotate 1s linear infinite;
    -o-animation: rotate 1s linear infinite;

    display: inline-block;
}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

