@(network: String)

@import models._

@main("Welcome Vivaldi Monitor"){

    <div class="row full-width">
        <div class="large-3 columns sidebar">
            <div class="row">
                <dl class="sub-nav">
                    <dt>Graph:</dt>
                    <dd class="active"><a href="#">Node Map</a></dd>
                    <dd><a href="#">Node Detail</a></dd>
                </dl>
            </div>
            <div class="row">
                <form id="coordinateParamForm">
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Network :</label>
                            <select name="network" id="networkSelect">
                                @for(network <- Network.all()){
                                    <option value="@network.id">@network.networkName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Coordinates/node :</label>
                            <input type="radio" name="coordinatePerNode" value="1" id="nodeCoordRateUn" checked><label for="nodeCoordRateUn">1</label>
                            <input type="radio" name="coordinatePerNode" value="10" id="nodeCoordRateDix"><label for="nodeCoordRateDix">10</label>
                        </div>
                    </div>
                    <a class="button radius" onclick="getCoordinateList(getNetworkSelectedId())">Generate</a>
                </form>
            </div>
        </div>
        <div class="large-9 columns">
            <div class="row graphHolder">
                <div class="large-12 columns">
                    <div id="chart_div">

                    </div>

                </div>
            </div>
            <div class="row details">
                <div class="large-4 columns">
                    <h3>Details :</h3>

                </div>
            </div>

        </div>
    </div>

    <script>
        google.setOnLoadCallback(getCoordinateList(getNetworkSelectedId()));
    </script>

}

