@(network: String)

@import models._

@main("Welcome Vivaldi Monitor"){

    <div class="row full-width">
        <div class="large-3 columns sidebar">
            <div class="row">
                <dl class="sub-nav">
                    <dt>Graph:</dt>
                    <dd class="active"><a href="#">Node Map</a></dd>
                    <dd><a href="./nodeDetail">Node Detail</a></dd>
                </dl>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <form id="coordinateParamForm">
                        <div class="row collapse">
                            <label>Network :</label>
                            <div class="large-12 columns">

                                <select name="network" id="networkSelect">
                                    @for(network <- Network.all()){
                                        <option value="@network.id">@network.networkName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <label>Coordinates/node :</label>
                                <input type="radio" name="coordinatePerNode" value="1" id="nodeCoordRateUn" checked><label for="nodeCoordRateUn">1</label>
                                <input type="radio" name="coordinatePerNode" value="10" id="nodeCoordRateDix"><label for="nodeCoordRateDix">10</label>
                            </div>
                        </div>
                        <ul class="button-group radius">
                            <li><a class="button" onclick="getCoordinateList()">Generate</a></li>
                            <li><a class="button" id="refreshButton" onclick="toggleRefresh(getCoordinateList)" ><i id="fi-refresh" class="refreshB fi-refresh"></i></a></li>
                        </ul>

                    </form>
                </div>
            </div>
        </div>
        <div class="large-9 columns">
            <div class="row graphHolder">
                <div class="large-12 columns">
                    <div id="chart_div">

                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        function getCoordinateNumberPerNode() {
            return $("input[name=coordinatePerNode]:checked","#coordinateParamForm").val();
        }

        function getCoordinateList(){
            $.ajax({
                url: "http://"+window.location.host+"/networks/"+getSelectedId("network")+"/coordinates",
                data: {"limit": getCoordinateNumberPerNode()},
                accepts: "application/json",
                error: function( jqXHR, textStatus, errorThrown ){
                    showError(textStatus, errorThrown);
                },
                success:  function( data ){
                    handleCoordinate(data);
                }
            });
        }

        function handleCoordinate(data) {

            var matrix = [["x"]];
            var newRow = [];

            for (var i = 0 ; i<data.length ; i ++ ){
                matrix[0].push("node : "+data[i][0].nodeId);
            }

            for (var i = 0 ; i<data.length ; i++){
                for (var j = 0 ; j<data[i].length ; j ++){
                    newRow = nullArray(data.length);
                    newRow[0] = data[i][j].x;
                    newRow[i+1] = data[i][j].y;
                    matrix.push(newRow);
                }
            }

            var dataToPrint = new google.visualization.arrayToDataTable(matrix);


            var options = {
                title: 'Nodes Coordinates',
                hAxis: {title: 'x'},
                vAxis: {title: 'y'},
                height: 800
            };

            var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
            chart.draw(dataToPrint, options);
        }

        google.setOnLoadCallback(getCoordinateList);
    </script>

}

