@(title: String)(content: Html)

<!DOCTYPE html>

<html class="no-js" lang="en" >
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/normalize.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/foundation.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/foundation-icons/foundation-icons.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script src="@routes.Assets.at("javascripts/vendor/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-dateFormat.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/modernizr.js")" type="text/javascript"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script src="@routes.Assets.at("javascripts/commons.js")" type="text/javascript"></script>

    </head>
    <body>

        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">Vivaldi Monitor</a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">
                <ul class="right">
                    <li class="has-form">
                        <ul class="button-group radius">
                            <li><button class="button" id="addNetworkButton" data-reveal-id="networkModal"><i class="fi-plus"></i> Add Network</button></li>
                            <li><button class="button alert" id="deleteNetworkButton" onclick="fetchNetworkList(deleteNetworks)" ><i class="fi-x"></i> Empty database</button></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </nav>

        <div id="networkModal" class="reveal-modal tiny" data-reveal>
            <h2>Add Network</h2>
            <p class="lead">Create a network to register coordinates</p>
            <div id="addNetworkModalContent">
                <form data-abide>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Network Name : <small>required</small></label>
                            <input id="newNetworkName" type="text" placeholder="" required pattern="[a-zA-Z]+"/>
                            <small class="error">Characters allowed : [a-zA-Z].</small>
                            <a href="#" class="button" onclick="createNetwork()">Create</a>
                        </div>
                    </div>
                </form>
            </div>
            <a class="close-reveal-modal">&#215;</a>
        </div>

        <div id="notifications">

        </div>

        @content

        <script src="@routes.Assets.at("javascripts/vendor/fastclick.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/vendor/placeholder.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/vendor/jquery.autocomplete.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/vendor/jquery.cookie.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/foundation.min.js")" type="text/javascript"></script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>
