@(title: String)(content: Html)

<!DOCTYPE html>

<html class="no-js" lang="en" >
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/normalize.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/foundation.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script src="@routes.Assets.at("javascripts/vendor/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-dateFormat.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/modernizr.js")" type="text/javascript"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script src="@routes.Assets.at("javascripts/commons.js")" type="text/javascript"></script>

    </head>
    <body>

        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">Vivaldi Monitor</a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">
            </section>
        </nav>

        <div id="notifications">

        </div>

        @content

        <script src="@routes.Assets.at("javascripts/vendor/fastclick.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/vendor/placeholder.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/vendor/jquery.autocomplete.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/vendor/jquery.cookie.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/foundation.min.js")" type="text/javascript"></script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>
