@(networks: List[Network], nodes: List[Node], initTimes: List[InitTime])

@main("Welcome Vivaldi Monitor"){

    <div class="row full-width">
        <div class="large-3 columns sidebar">
            <div class="row">
                <dl class="sub-nav">
                    <dt>Graph:</dt>
                    <dd><a href="./">Node Map</a></dd>
                    <dd class="active"><a href="#">Node Detail</a></dd>
                </dl>
            </div>
            <div class="row">
                <form id="coordinateParamForm">
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Network :</label>
                            <select name="network" id="networkSelect">
                            @for(network <- networks){
                                <option value="@network.id">@network.networkName</option>
                            }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Node :</label>
                            <select name="node" id="nodeSelect">
                            @for(node <- nodes){
                                <option value="@node.id">@node.nodeName</option>
                            }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Initialization Time :</label>
                            <select name="initTime" id="initTimeSelect">
                            @for(initTime <- initTimes){
                                <option value="@initTime.id">@initTime.initTime.toString("dd-MM-yyyy HH:mm:ss")</option>
                            }
                            </select>
                        </div>
                    </div>
                    <a class="button radius" onclick="getCoordinateList(getNetworkSelectedId())">Generate</a>
                </form>
            </div>
        </div>
        <div class="large-9 columns">
            <div class="row graphHolder">
                <div class="large-12 columns">
                    <div id="chart_div">

                    </div>

                </div>
            </div>
            <div class="row details">
                <div class="large-4 columns">
                    <h3>Details :</h3>

                </div>
            </div>

        </div>
    </div>

    <script>

        $("select[name=network]").change(function(){
            var nodeList = $("select[name=node");

            $.ajax({
                url: "http://"+window.location.host+"/networks/"+getSelectedId("network")+"/nodes",
                accepts: "application/json",
                error: function( jqXHR, textStatus, errorThrown ){
                    showError(textStatus, errorThrown);
                },
                success:  function( data ){
                    nodeList.empty()
                    for (var i = 0 ; i < data.length ; i++){
                        nodeList.append('<option value="'+data[i].id+'">'+data[i ].nodeName+'</option>');
                    }
                }
            });
        });

        $("select[name=node]" ).change(function(){
            var initTimeList = $("select[name=initTime");

            $.ajax({
                url: "http://"+window.location.host+"/nodes/"+getSelectedId("node")+"/initTimes",
                accepts: "application/json",
                error: function( jqXHR, textStatus, errorThrown ){
                    showError(textStatus, errorThrown);
                },
                success:  function( data ){
                    initTimeList.empty()
                    for (var i = 0 ; i < data.length ; i++){
                        initTimeList.append('<option value="'+data[i].id+'">'+ $.format.date(data[i].initTime,"dd-MM-yyyy HH:mm:ss")+'</option>');
                    }
                }
            });
        });

        /*
        function getCoordinateList(networkId){
            $.ajax({
                url: "http://"+window.location.host+"/networks/"+networkId+"/coordinates",
                data: {"limit": getCoordinateNumberPerNode()},
                accepts: "application/json",
                error: function( jqXHR, textStatus, errorThrown ){
                    showError(textStatus, errorThrown);
                },
                success:  function( data ){
                    handleCoordinate(data);
                }
            });
        }

        function handleCoordinate(data) {

            var matrix = [["x"]];
            var newRow = [];

            var minX = data[0][0].x;
            var minY = data[0][0].y;
            var maxX = data[0][0].x;
            var maxY = data[0][0].y;

            for (var i = 0 ; i<data.length ; i ++ ){
                matrix[0].push("node : "+data[i][0].nodeId);
            }

            for (var i = 0 ; i<data.length ; i++){
                for (var j = 0 ; j<data[i].length ; j ++){
                    newRow = nullArray(data.length);
                    newRow[0] = data[i][j].x;
                    newRow[i+1] = data[i][j].y;
                    matrix.push(newRow);

                    minX = (data[i][j].x < minX) ? data[i][j].x : minX ;
                    minY = (data[i][j].y < minY) ? data[i][j].y : minY ;
                    maxX = (data[i][j].x > maxX) ? data[i][j].x : maxX ;
                    maxY = (data[i][j].y > maxY) ? data[i][j].y : maxY ;
                }
            }

            var dataToPrint = new google.visualization.arrayToDataTable(matrix);


            var options = {
                title: 'Nodes Coordinates',
                hAxis: {title: 'x', minValue: minX-2, maxValue: maxX+2},
                vAxis: {title: 'y', minValue: minY-2, maxValue: maxY+2}
            };

            var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
            chart.draw(dataToPrint, options);
        }

        google.setOnLoadCallback(getCoordinateList(getNetworkSelectedId()));
        */
    </script>

}

