@(networks: List[models.DataBase.Network], nodes: List[models.DataBase.Node], initTimes: List[models.DataBase.InitTime])

@main("Welcome Vivaldi Monitor"){

    <div class="row full-width">
        <div class="large-3 columns sidebar">
            <div class="row">
                <dl class="sub-nav">
                    <dt>Graph:</dt>
                    <dd><a href="./">Node Map</a></dd>
                    <dd class="active"><a href="#">Node Detail</a></dd>
                </dl>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <form id="coordinateParamForm">
                        <div class="row">
                            <div class="large-12 columns">
                                <label>Network : <i id="networkLock"></i></label>
                                <select name="network" id="networkSelect">
                                @for(network <- networks){
                                    <option value="@network.id">@network.networkName</option>
                                }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <label>Node :  <i id="nodeLock"></i></label>
                                <select name="node" id="nodeSelect">
                                @for(node <- nodes){
                                    <option value="@node.id">@node.nodeName</option>
                                }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <label>Initialization Time :</label>
                                <select name="initTime" id="initTimeSelect">
                                @for(initTime <- initTimes){
                                    <option value="@initTime.id">@initTime.initTime.toString("dd-MM-yyyy HH:mm:ss")</option>
                                }
                                </select>
                            </div>
                        </div>
                        <ul class="button-group radius">
                            <li><a class="button" onclick="triggerGraphs()">Generate</a></li>
                            <li><a class="button" id="refreshButton" onclick="toggleRefresh(triggerGraphs); toggleSelectfields();" ><i id="fi-refresh" class="refreshB fi-refresh"></i></a></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <div class="large-9 columns">
            <div class="row nodeGraphHolder">
                <div class="large-12 columns">
                    <div id="Xchart_div">

                    </div>
                </div>
            </div>
            <div class="row nodeGraphHolder">
                <div class="large-12 columns">
                    <div id="Ychart_div">

                    </div>
                </div>
            </div>

            <div class="row nodeGraphHolder">
                <div class="large-12 columns">
                    <div id="bubbleChart_div">

                    </div>
                </div>
            </div>

            <div class="row nodeGraphHolder">
                <div class="large-12 columns">
                    <div id="cumulChart_div">

                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>

        /* ==============================================================================
                                        Navigation update
           ============================================================================== */

        $("select[name=network]").change(function(){
            var nodeList = $("select[name=node");

            $.ajax({
                url: location.protocol+"//"+window.location.host+"/networks/"+getSelectedId("network")+"/nodes",
                accepts: "application/json",
                error: function( jqXHR, textStatus, errorThrown ){
                    showError(jqXHR , textStatus, errorThrown);
                },
                success:  function( data ){
                    nodeList.empty()
                    for (var i = 0 ; i < data.length ; i++){
                        nodeList.append('<option value="'+data[i].id+'">'+data[i ].nodeName+'</option>');
                    }
                    updateInitTimesList()
                }
            });
        });

        $("select[name=node]" ).change(function(){
            updateInitTimesList();
        });

        function updateInitTimesList(){
            var initTimeList = $("select[name=initTime]");

            $.ajax({
                url: location.protocol+"//"+window.location.host+"/nodes/"+getSelectedId("node")+"/initTimes",
                accepts: "application/json",
                error: function( jqXHR, textStatus, errorThrown ){
                    showError(jqXHR , textStatus, errorThrown);
                },
                success:  function( data ){
                    initTimeList.empty()
                    for (var i = 0 ; i < data.length ; i++){
                        initTimeList.append('<option value="'+data[i].id+'">'+ $.format.date(data[i].initTime,"dd-MM-yyyy HH:mm:ss")+'</option>');
                    }
                }
            });
        }


        function toggleSelectfields(){
            console.log("appel");
            var $icon = $( "#fi-refresh" ),
            animateClass = "icon-refresh-animate";

            if($icon.hasClass(animateClass)){
                $("#networkSelect").prop('disabled', 'disabled');
                $("#nodeSelect" ).prop('disabled', 'disabled');
                $("#nodeLock" ).addClass("fi-lock");
                $("#networkLock" ).addClass("fi-lock");

            } else{
                $("#networkSelect" ).prop('disabled', false);
                $("#nodeSelect" ).prop('disabled', false);
                $("#nodeLock" ).removeClass();
                $("#networkLock" ).removeClass();

            }
        }

        /* ==============================================================================
                                    Coordinates graphs generation
           ============================================================================== */


        function getCoordinateList(){
            $.ajax({
                url: location.protocol+"//"+window.location.host+"/nodes/"+getSelectedId("node")+"/initTimes/"+getSelectedId("initTime")+"/coordinates",
                accepts: "application/json",
                error: function( jqXHR, textStatus, errorThrown ){
                    showError(jqXHR , textStatus, errorThrown);
                },
                success:  function( data ){
                    handleCoordinate(data);
                }
            });
        }


        function handleCoordinate(data) {

            var dataX = new google.visualization.DataTable();
            var dataY = new google.visualization.DataTable();

            dataX.addColumn('datetime', 'time');
            dataX.addColumn('number', 'X');

            dataY.addColumn('datetime', 'time');
            dataY.addColumn('number', 'Y');

            for (var i = 0 ; i<data.length ; i++){
                var date = new Date();
                date.setTime(data[i].coordinateTime);
                dataX.addRow([date,data[i].x]);
                dataY.addRow([date,data[i].y]);
            }

            var optionsX = {
                title: 'X along time',
                hAxis: {title: 'time'},
                vAxis: {title: 'x'},
                legend: 'none',
                height: 400
            };

            var optionsY = {
                title: 'Y along time',
                hAxis: {title: 'time'},
                vAxis: {title: 'y'},
                legend: 'none',
                height: 400
            };

            var chartX = new google.visualization.ScatterChart(document.getElementById('Xchart_div'));
            chartX.draw(dataX, optionsX);
            var chartY = new google.visualization.ScatterChart(document.getElementById('Ychart_div'));
            chartY.draw(dataY, optionsY);
        }


        /* ==============================================================================
                                    Bubble Graph Generation
           ============================================================================== */


        function getBubblesList(){
            $.ajax({
                url: location.protocol+"//"+window.location.host+"/nodes/"+getSelectedId("node")+"/initTimes/"+getSelectedId("initTime")+"/bubbles",
                accepts: "application/json",
                error: function( jqXHR, textStatus, errorThrown ){
                    showError(jqXHR , textStatus, errorThrown);
                },
                success:  function( data ){
                    handleBubbles(data);
                }
            });
        }


        function handleBubbles(data) {
            /* Google bubble chart
            var bubbles = new google.visualization.DataTable();

            bubbles.addColumn('string','ID');
            bubbles.addColumn('number','Position');
            bubbles.addColumn('number','Node Id');
            bubbles.addColumn('string','Node Id');
            bubbles.addColumn('number','Number');

            for (var i = 0 ; i<data.length ; i++){
                bubbles.addRow(["",data[i].position,data[i].nodeDistantId,""+data[i].nodeDistantId,data[i].cardinal]);
            }

            var optionsBubbles = {
                title: 'Close Nodes Positions',
                hAxis: {title: 'Position'},
                vAxis: {title: 'Node'},
                height: 400,
                explorer: { actions: ['dragToZoom', 'rightClickToReset'] }
            };

            var bubbleChart = new google.visualization.BubbleChart(document.getElementById('bubbleChart_div'));
            bubbleChart.draw(bubbles, optionsBubbles);
            */

            // D3 Bubble chart

            function truncate(str, maxLength, suffix) {
                if(str.length > maxLength) {
                    str = str.substring(0, maxLength + 1);
                    str = str.substring(0, Math.min(str.length, str.lastIndexOf(" ")));
                    str = str + suffix;
                }
                return str;
            }

            var max_position = 0;
            for (var i = 0 ; i<data.length ; i++){
                for (var j = 0 ; j<data[i].bubbles.length ; j++){
                    if (max_position < data[i].bubbles[j][0]){
                        max_position = data[i].bubbles[j][0];
                    }
                }
            }

            var margin = {top: 45, right: 200, bottom: 0, left: 20},
                width = $("#Ychart_div").width()-200,
                height = 650;

            var start_position = 0,
                end_position = max_position;

            var c = d3.scale.category20c();

            var x = d3.scale.linear()
                .range([0, width]);

            var xAxis = d3.svg.axis()
                .scale(x)
                .orient("top");

            var formatPositions = d3.format("0000");
            xAxis.tickFormat(formatPositions);

            var svg = d3.select("#bubbleChart_div").append("svg")
                .attr("width", width + margin.left + margin.right)
                .style("margin-left", margin.left + "px")
                .style("margin-top", margin.top + "px")
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");



            x.domain([start_position, end_position]);
            var xScale = d3.scale.linear()
                .domain([start_position, end_position])
                .range([0, width]);

            svg.append("text")
                .attr("class", "x label")
                .attr("text-anchor", "middle")
                .attr("x", width/2)
                .attr("y",-25)
                .text("Position in the close node Array");

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + 0 + ")")
                .call(xAxis);


            for (var j = 0; j < data.length; j++) {
                var g = svg.append("g").attr("class","node");

                var circles = g.selectAll("circle")
                    .data(data[j]['bubbles'])
                    .enter()
                    .append("circle");

                var text = g.selectAll("text")
                    .data(data[j]['bubbles'])
                    .enter()
                    .append("text");

                var rScale = d3.scale.linear()
                    .domain([0, d3.max(data[j]['bubbles'], function(d) { return d[1]; })])
                    .range([2, 9]);

                circles
                    .attr("cx", function(d, i) { return xScale(d[0]); })
                    .attr("cy", j*20+20)
                    .attr("r", function(d) { return rScale(d[1]); })
                    .style("fill", function(d) { return c(j); });

                text
                    .attr("y", j*20+25)
                    .attr("x",function(d, i) { return xScale(d[0])-5; })
                    .attr("class","value")
                    .text(function(d){ return d[1]; })
                    .style("fill", function(d) { return c(j); })
                    .style("display","none");

                g.append("text")
                    .attr("y", j*20+25)
                    .attr("x",width+20)
                    .attr("class","label")
                    .text(truncate(data[j]['nodeName'],30,"..."))
                    .style("fill", function(d) { return c(j); })
                    .on("mouseover", mouseover)
                    .on("mouseout", mouseout);
            };

            function mouseover(p) {
                var g = d3.select(this).node().parentNode;
                d3.select(g).selectAll("circle").style("display","none");
                d3.select(g).selectAll("text.value").style("display","block");
            }

            function mouseout(p) {
                var g = d3.select(this).node().parentNode;
                d3.select(g).selectAll("circle").style("display","block");
                d3.select(g).selectAll("text.value").style("display","none");
            }

        }

        /* ==============================================================================
                                    Cumulated Graph Generation
           ============================================================================== */

        function getCumulatedList(){
            $.ajax({
                url: location.protocol+"//"+window.location.host+"/nodes/"+getSelectedId("node")+"/initTimes/"+getSelectedId("initTime")+"/closeNodesDistanceCumul",
                accepts: "application/json",
                error: function( jqXHR, textStatus, errorThrown ){
                    showError(jqXHR , textStatus, errorThrown);
                },
                success:  function( data ){
                    handleCumulated(data);
                }
            });
        }

        function handleCumulated(data) {

            var cumuls = new google.visualization.DataTable();

            cumuls.addColumn('datetime','Time');
            cumuls.addColumn('number','cumulatedDistance');

            for (var i = 0 ; i<data.length ; i++){
                var date = new Date();
                date.setTime(data[i].time);
                cumuls.addRow([date,data[i].distanceCumul]);
            }

            var optionsCumul = {
                title: 'Close node tables distance cumulated',
                hAxis: {title: 'time'},
                vAxis: {title: 'Cumulated Distance'},
                legend: 'none',
                height: 400
            };

            var cumulChart = new google.visualization.ScatterChart(document.getElementById('cumulChart_div'));
            cumulChart.draw(cumuls, optionsCumul);

        }
        /* ==============================================================================
                                           Triggers
           ============================================================================== */

        function checkedSelectFields(){
            var checked = true;

            checked = checked && ($("select[name=network]").children().length != 0)
            checked = checked && ($("select[name=node]").children().length != 0)
            checked = checked && ($("select[name=initTime]").children().length != 0)

            return checked;
        }

        function triggerGraphs(){
            getCoordinateList();
            getBubblesList();
            getCumulatedList();
        }

        if (checkedSelectFields()){
            google.setOnLoadCallback(triggerGraphs);
        }

    </script>

}

